
/* .modal {
    position: right;
    top: 0;
    left: 0;
    width: '913px';
    height: '1272px';
    background: rgba(0, 0, 0, 0.6);
  }
   */
   .modal-main {
     
    position:right;
    background: white;
    width: '913px';
    height: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .ApplyCalender{
    background-color: white;
    color: blue;
    border: 2px solid #e7e7e7;
  }